<footer class="site-footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-links">
          <li><a href="/"><i class="fas fa-home fa-lg"></i></a></li>
          <li><a href="#"><i class="fas fa-chart-line fa-lg"></i></a></li>
          <%unless current_page?("/") %>
            <li><a href="#" id="createNewSessionButton"><i class="fas fa-dumbbell fa-2x"></i>
            <li><a href="/trackers"><i class="fas fa-clipboard fa-lg"></i></a></li>
          <%else%>
            <li><a href="/trackers"><i class="fas fa-clipboard fa-2x"></i></a></li>
            <li><a href="/trackers"><i class="fas fa-dumbbell fa-lg"></i></a></li>
          <%end%>
          <li></label><%= link_to destroy_user_session_path, data: { turbo_method: :delete } do %>
            <i class="fas fa-cog fa-lg"></i>
          <% end %></li>
      </div>
    </div>
  </div>
</footer>
