.workout_title {
  color: white;
  font-size: 1.4rem;
}

.workoutcard {
  background-color: rgb(112, 109, 109);
  border-radius: 15px;
  margin-bottom: 5px;
  padding-top: 7px;
  padding-left: 7px;
}

.numbers {
  display: inline-flex;
  align-items: center;
  margin-right: 20px;
}

.editable-field {
  margin: 0;
}
